<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="game.tsoglani.soundtrack.soundtrackgame">
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.screen.portrait" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MovieQuiz"
            android:label="@string/title_activity_movie_quiz"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainGameMenuActivity"
            android:label="@string/title_activity_game_menu"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EnigmaGameMenuActivity"
            android:label="@string/title_activity_game"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".EnigmaAct"
            android:label="@string/title_activity_enigma"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>